/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

body {
  font-family: Consolas, monospace;
  margin: 24px;
  padding: 12px;
}

.Main {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.Book {
  text-align: center;
  margin: 24px;
  padding: 12px;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 150px;
  max-height: 150px;
  height: auto;
  margin-bottom: 10px;
}

.NameBook {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 50%;
  font-weight: 700;
  font-size: 18px;
  max-width: 150px;
}

.AuthorusBook {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 50%;
  font-size: 14px;
  max-width: 150px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
